:root {
  --whitish: #FFEDDA;
  --light-blue: #7CB3DA;
  --dark-blue: #0a6ac7;
  --red: #FF2442;
}

body {
  margin: 0;
}

p {
  font-family: 'Dosis', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #FFEDDA;
  letter-spacing: 2px;
  font-size: 80px;
  font-weight: 800;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: black;
  letter-spacing: 0.5px;
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-family: 'Dosis', sans-serif;
  color: black;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 600;
}

nav {}

ul {
  font-family: 'Quicksand', sans-serif;
  list-style-type: none;
  height: 55px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.15);
  padding-right: 20px;
  padding-top: 13px;
  font-weight: 800;
  z-index: 999;
}

li {
  float: right;
  //border: 2px solid #FFEDDA;
  /* border: 2px solid #FFEDDA; */
  margin-right: 20px;
  border-radius: 25px;
}

li a {
  display: block;
  color: #FFEDDA;
  text-align: center;
  padding: 9px 20px;
  text-decoration: none;
  /* background-size: 200% 100%;
  background-position: right bottom; */
  transition: all .5s ease-out;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
}

li a:hover {
  float: right;
  background-color: #FFEDDA;
  border-radius: 25px;
  color: #0a6ac7;
  padding: 9px 20px;
}



.headerDiv {
  /* background-image: url("Images/MainBanner.png"); */
  background-color: #7CB3DA;
  /* height: 590px; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 98.7vw;
  height: 100vh;
  display: block;
  background-size: cover;
}

#mainTitle {
  text-align: center;
  margin-bottom: 10px;
}

.navBar {}

#heartImg {
  position: absolute;
  width: 100%px;
  height: 250px;
  top: 0px;
}

#handsImg {
  width: 50%;
  height: 300px;
}

#mainSlogan {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  color: #FFEDDA;
  margin-bottom: 50px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

#bannerBtn1 {
  width: 220px;
  height: 50px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #0a6ac7;
  border: 0px;
  color: #FFEDDA;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  /* font-weight: bold; */
  letter-spacing: 1px;
}

#bannerBtn1:hover {
  width: 220px;
  height: 50px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #FFB830;
  border: 0px;
  color: #FF2442;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all .5s ease-out;
  cursor: pointer;
}

#bannerBtn2 {
  width: 170px;
  height: 50px;
  background-color: transparent;
  margin-right: 20px;
  border-radius: 25px;
  border: 2px solid #FFEDDA;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #FFEDDA;
  transition: all .5s ease-out;
  box-shadow: 0px 2px 5px 4px rgba(193, 193, 193, 0.4);
  -webkit-box-shadow: 0px 2px 5px 4px rgba(193, 193, 193, 0.4);
  -moz-box-shadow: 0px 2px 5px 4px rgba(193, 193, 193, 0.4);
}

#bannerBtn2:hover {
  width: 170px;
  height: 50px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #FFEDDA;
  border: 0px;
  color: #0a6ac7;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 5px 4px rgba(125, 125, 125, 0.4);
  -webkit-box-shadow: 0px 2px 5px 4px rgba(125, 125, 125, 0.4);
  -moz-box-shadow: 0px 2px 5px 4px rgba(125, 125, 125, 0.4);
}

.mainLogoList {
  float: left;
}

.mainLogo {
  width: 300px;
  position: relative;
  bottom: 10px;
  left: 30px;
}

/* 3D Button */
.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(to left,
      hsl(210deg 92% 20%) 0%,
      hsl(210deg 92% 32%) 8%,
      hsl(210deg 92% 32%) 92%,
      hsl(210deg 92% 20%) 100%);
}

.front {
  display: block;
  position: relative;
  padding: 12px 42px;
  border-radius: 25px;
  font-size: 1.25rem;
  color: #FFEDDA;
  /* background: hsl(345deg 100% 47%); */
  background: hsl(210, 90%, 41%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover {
  filter: brightness(110%);
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* 3D Button */
/* Mouse Down */
.scrolldown {
  --color: #FFEDDA;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin: auto;
  margin-top: 140px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.blueSection {
  background-color: #7CB3DA;
  height: 30px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.mainAboutDiv {
  height: 500px;
  margin-left: 74px;
}

.aboutLine {
  width: 120px;
  float: left;
  height: 2px;
  /* background-color: linear-gradient(#0a6ac7, #FF2442); */
  border: 0px solid;
  background: linear-gradient(to right, #7CB3DA, #0a6ac7, #FF2442);
  margin-top: -10px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  margin-left: -18px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  text-underline-offset: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: #0a6ac7;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #0a6ac7;
}

#missionDiv {
  display: block;
}

#aboutDiv {
  display: none;
}

#teamDiv {
  display: none;
}

.belowBannerTitle {
  width: 45%;
}

.belowBannerPara {
  width: 45%;
}

.belowBannerBtn {
  width: 220px;
  height: 50px;
  background-color: transparent;
  margin-right: 20px;
  border-radius: 25px;
  border: 2px solid #FFEDDA;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #0a6ac7;
  transition: all .5s ease-out;
  box-shadow: 0px 2px 5px 4px rgba(193, 193, 193, 0.4);
  -webkit-box-shadow: 0px 2px 5px 4px rgba(193, 193, 193, 0.4);
  -moz-box-shadow: 0px 2px 5px 4px rgba(193, 193, 193, 0.4);
  cursor: pointer;
}

.belowBannerBtn:hover {
  width: 220px;
  height: 50px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #0a6ac7;
  border: 0px;
  color: #FFEDDA;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

#aboutImage {
  width: 45%;
  height: 300px;
  float: right;
  position: absolute;
  margin-left: 46%;
  margin-top: -280px;
  border-radius: 10px;
}

.aboutVaccineImage {
  opacity: 0.05;
  width: 20%;
  position: absolute;
  padding-left: 60%;
  z-index: -100;
}

.aboutHeartImage {
  opacity: 0.04;
  width: 25%;
  position: absolute;
  padding-left: 20%;
  z-index: -100;
}

.concave {
  height: 30px;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.serviceDiv {
  height: 500px;
  border-top-left-radius: -25px;
  border-top-right-radius: -25px;
  background-color: var(--light-blue);
}

.serviceTitle {
  text-align: center;
  color: var(--whitish);
}

.serviceLine {
  width: 10%;
  height: 2px;
  /* background-color: linear-gradient(#0a6ac7, #FF2442); */
  border: 0px solid;
  background: linear-gradient(to right, #0a6ac7, #FF2442);
  margin-top: -15px;
}

.serviceColumns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.service1 {
  margin-left: 40px;
}

.service2 {}

.service3 {}

.service4 {
  margin-right: 40px;
}

.cirlce1 {}

#allCircles {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid var(--whitish);
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
  background-size: 0 0;
}

#allCircles:hover {
  border: 2px solid var(--light-blue);
  background: linear-gradient(135deg, var(--dark-blue) 0%, var(--red) 100%);
  box-shadow: 0px 0px 10px 7px rgba(97, 157, 196, 1);
  -webkit-box-shadow: 0px 0px 10px 7px rgba(97, 157, 196, 1);
  -moz-box-shadow: 0px 0px 10px 7px rgba(97, 157, 196, 1);
  background-position: 150px 0px;
}

#allServices {
  width: 220px;
  height: 250px;
}

.fas {
  margin-left: 30%;
  margin-top: 27%;
  color: var(--whitish);
  font-size: 50px;
  opacity: 1 !important;
}


.rectangle{
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
}

.healthCase{
  position: absolute;
  width: 190px;
  height: 180px;
  bottom: 0;
  left:0;
}

.heartDoctor{
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 0;
  right: 0;
}
