:root {
  --whitish: #FFEDDA;
  --light-blue: #7CB3DA;
  --dark-blue: #0a6ac7;
  --red: #FF2442;
}

body {
  margin: 0;
  background-color: var(--light-blue);
}

p {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #FFEDDA;
  /* letter-spacing: 2px; */
  font-size: 80px;
  font-weight: 800;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: var(--whitish);
  /* letter-spacing: 0.5px; */
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-family: 'Dosis', sans-serif;
  color: var(--whitish);
  /* letter-spacing: 0.5px; */
  font-size: 20px;
  font-weight: 400;
  line-height: 0.5;
}

.myProfile{
  font-size: 30px;
  margin-left: 20px;
  display: inline-flex;
  font-weight: 400;
  /* margin-top: -20px !important; */
  vertical-align: middle;
  margin-top: 20px;
}

.logOut{
  display: inline;
  font-weight: 500;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  height: 10px;
}

.logOut:hover{
  color: var(--dark-blue);
}

.fa-cog{
  color: var(--whitish);
  float: right;
  margin-right: 50px;
  margin-top: 22px;
  margin-bottom: 0;
}

.separator{
  color: var(--dark-blue);
  height: 2px !important;
  opacity: 0.18;
  z-index: 9999;
  box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.21);
-webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.21);
}

.profileDetails{
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  /* height: 100px; */
  margin-left: 50px;
}

.profileImgDiv{
  flex-basis: 13%;
}

.userDetails{
  flex-basis: 45%;
}

.medicalDetails{
  flex-basis: 42%;
}

.profileDiv{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid rgba(10, 106, 199, 0.25);
  box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.21);
-webkit-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 4px 5px 10px 0px rgba(0,0,0,0.21);
}

.innerMedDetails{
  /* text-align: right; */
}

.padder{
  flex-basis: 13%;
}

.vaccinationDetails{
  flex-basis: 45%;
}

.relationDetails{
  flex-basis: 41%;
}

.vaccinationDetailsText{
  font-size: 27px;
  font-weight: bold;
  margin-top: 5px;
}


.relationDetailsText{
  font-size: 27px;
  font-weight: bold;
  margin-top: 5px;
}

.makeAndGet{
  width: 180px;
  height: 45px;
  border-radius: 25px;
  border: 0px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  background-color: var(--red);
  color: var(--whitish);
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.18);
-webkit-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.18);
margin-top: 15px;
}

.makeAndGet:hover{
  background-color: var(--dark-blue);
  color: var(--whitish);
}

.smallLogo{
  width: 180px;
  padding-left: 30px;
  display: inline;
  margin-bottom: 0px;
  position: relative;
  top: 4px;
}

.child{
  line-height: 1;
}

.fa-sign-out-alt:hover{
  color: var(--dark-blue);
}
